<!DOCTYPE html>
<html lang="pl">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/first-style.css') }}">
        <style>
            img {
              
              width: 200px;
            }
            </style>
    {% endblock %}
    </head>
    <body>
        <h1>Witaj na mojej stronie domowej</h1>
        <img src="https://i.postimg.cc/2SyT1X2m/pexels-yulia-pribytkova-12315780.jpg" alt="dwa budynki przy górze" title="krajobraz">
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>